- prototypes.each do |prototype|
  .col-sm-4.col-md-3.proto-content
    - if user_signed_in? && current_user.id == prototype.user_id
      .dropdown.drop_menu_location
        %button.btn.btn-default.dropdown-toggle{ type: 'button', data: {toggle: :dropdown}, aria: { expanded: :true }, id: "dropdownMenu"}
          Action
        %ul.dropdown-menu{"aria-labelledby" => "dropdownMenu1"}
          %li
            = link_to 'Delete', prototype_path(prototype), method: :delete
          %li
            = link_to 'Edit', edit_prototype_path(prototype)
    .thumbnail
      = link_to image_tag("#{prototype.content_main}"), "prototypes/#{prototype.id}"
      .caption
        %h3
          = prototype.title
        .proto-meta
          .proto-user
            = link_to " by #{prototype.user.username} ", user_path(prototype.user_id)
          .proto-posted
            = prototype.created_at.strftime('%b %d')
        %ul.proto-tag-list.list-inline
          - prototype.tags.each do |tag|
            %li
              = link_to "#{tag.name}", "/tags/#{tag.name}", class: "btn btn-default"
