.container.proto-new
  = form_for (@prototype) do |f|
    -if @prototype.errors.any?
      .alert.alert-danger
        %ul
          - @prototype.errors.full_messages.each do |message|
            %li
              = message
    .col-md-8.col-md-offset-2
      %header.row.user-nav.row
        .col-md-12
          .proto-new-title
            = f.text_field :title, placeholder: "Title"
      .row
        .col-md-12
          .cover-image-upload.js-fileInput
            = image_tag("#{@prototype.content_main}", class: 'img_mainView')
            = f.fields_for :contents, @main_image do |content|
              = content.file_field :content
              = content.hidden_field :status, value: "main"
        .col-md-12
          %ul.proto-sub-list.list-group
            - @prototype.contents.sub.each do |sub|
              %li.list-group-item.col-md-4
                .image-upload.js-file-subInput
                  = image_tag( sub.content , class: 'img_View')
                  = f.fields_for :contents, @sub_images do |content|
                    = content.file_field :content
                    = content.hidden_field :status, value: "sub"
      .row.proto-description
        .col-md-12
          = f.text_field :catch_copy, placeholder: "Catch Copy"
        .col-md-12
          = f.text_field :concept, cols: "30", rows: "4", placeholder: "Concept"
        .col-md-12
          %h4 Tag List
          .row
            .col-md-3
              %input{type: "text", placeholder: "Web Design"}/
            .col-md-3
              %input{type: "text", placeholder: "UI"}/
            .col-md-3
              %input{type: "text", placeholder: "Application"}/
    .row.text-center.proto-btn
      = f.submit "Publish", class: "btn btn-lg btn-primary btn-block"
:javascript
  var etFileInput = $('.js-fileInput');
  $(etFileInput).on("click", function(){
    console.log($(this));
    main_image();
  });
  var etFileInput = $('.js-file-subInput');
  $(etFileInput).on("click", function(){
    console.log($(this));
    sub_image();
  });

