- if user_signed_in?
  - if prototype.like_user(current_user.id)
    = button_to prototype_like_path(like, prototype_id: prototype.id), method: :delete, class: "btn btn-default decrement-button", remote: true do
      = image_tag('icon_heart_red.svg')
      LIKE
      %span.num
        = prototype.likes_count
  - else
    = button_to prototype_likes_path(prototype.id), :class => "btn btn-default decrement-button", remote: true do
      = image_tag("icon_heart.svg")
      Like
      %span.num
        = prototype.likes_count
- else
  = button_to new_user_session_path, :class => "btn btn-default decrement-button", id: "like-button", remote: true do
    = image_tag("icon_heart.svg")
    Like
    %span.num
      = prototype.likes_count
